* {
  box-sizing: border-box;
}

body {
  background-color: #1c1c1c;
  color: white;
}

.searchBox {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: black;
  height: 10vh;
  margin-bottom: 20px;
}

.searchBox input {
  width: 60%;
  height: 60%;
  border-radius: 10em;
  border: none;
  outline: none;
  padding-left: 20px;
  color: black;
  font-size: medium;
}

.grid {
  width: 96%;
  columns: 6;
  column-gap: 10px;
  margin-left: 2%;
  margin-right: 2%;
}

.imageContainer {
  position: relative;
}

.imageContainer .btn-img {
  position: absolute;
  width: 32px;
  height: 32px;
  transform: translate(-50%, -50%);
  margin-right: -50%;
  top: 50%;
  left: 50%;
  pointer-events: none;
}

.img-paused {
  opacity: 0.5;
}

.gif-image {
  object-fit: cover;
  padding: 5px;
  width: 100%;
  height: 100%;
}

.gif-image:hover {
  cursor: pointer;
}

@media screen and (max-width: 1200px) {
  .grid {
    columns: 5;
  }
}

@media screen and (max-width: 768px) {
  .grid {
    columns: 4;
  }
  .imageContainer .btn-img {
    width: 24px;
    height: 24px;
  }
  .searchBox {
    height: 8vh;
  }
}

@media screen and (max-width: 480px) {
  .searchBox {
    height: 5vh;
  }
  .imageContainer .btn-img {
    width: 16px;
    height: 16px;
  }
  .grid {
    column-gap: 5px;
    columns: 3;
  }
}
